@font-face {
    font-family: "BNazanin";
    src: local("BNazanin");
}

body {
    font-family: "BNazanin", arial;
    text-align: right;
    margin: 0;
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;    
    background-color: rgba(28, 35, 102, 0.37);
    box-shadow: inset 0 4px 50px rgba(49, 13, 65, 0.644);
}

.login-sec {
    text-align: center;
    direction: rtl;
    background-color: rgba(106, 40, 168, 0.5);
    padding: 10px 20px;
    border-radius: 10px;
    width: 300px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.432)
}

.login-sec h1 {
    color: rgb(31, 1, 59);
    text-shadow: 0 4px 15px rgba(8, 0, 10, 0.432)
}

.login-sec input {
    display: block;
    margin: 5px auto;
    padding: 5px 5px;
    border-radius: 5px;
    border: 1px solid #cccccc;
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.164);
    transition: all 0.1s ease;
}

.login-sec input:focus {
    outline: none;
    border-color: #7b1fa29a;
    box-shadow: 0 0 8px rgba(123,31,162,0.4);
}

.login-sec input[type="submit"] {
   color: white;
   background-color: rgb(106, 40, 168);
   border: solid 0px black;
   border-radius: 2px;
   width: 20%;
   box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.336);
}

.login-sec input[type="submit"]:hover {
    background-color: rgb(90, 30, 140);
    box-shadow: 0 6px 12px rgba(0,0,0,0.4); 
    transform: translateY(0.5px); 
    outline: none; 
}