body {
    font-family: Arial, Helvetica, sans-serif;
}

.title{
    display: block;
}

.main-sec {
    display: flex;
    justify-content: center;
    gap: 100px;
}

.contact-sec {
   margin-left: 290px;
}

.contact-sec input[id="email"]{
    margin-bottom: 20px;
    padding: 10px
}

.contact-sec label[for="message"] {
    display: block;
    margin-bottom: 5px;
}

.contact-sec input[id="message"] {
    display: block;
    width: 1400px;
    height: 30px;
    margin-bottom: 15px;
}

.contact-sec input[type="submit"] {
    padding: 5px 10px;
}

a {
    color: rgb(2, 75, 211);
    text-decoration: none; 
}

.left-col {
    display: flex;
    flex-direction: column;
}

.about{
    margin-bottom: 279px;
}

.classes {
    border-collapse: collapse;
    width: 800px;
    margin-bottom: 45px;
}

.classes th,
.classes td {
    text-align: left;
    padding: 8px 12px; 
    border-bottom: 1px solid #ccc;
}

.right-col {
    margin-top: 80px;
}