body {
            font-family: Arial, Helvetica, sans-serif;
}

h2 {
    background-color: #c2d3f0;
    padding: 3px 10px;
    color: rgb(15, 109, 196);
    margin-top: 20px;
    margin-bottom: 10px;
}

a {
    color: #024bd3;
    text-decoration: none;
}

.main-sec {
    display: flex;
    justify-content: center;
}

.left-col {
width: 900px;
}

.right-col {
    margin-top: 79.4px;
}

.classes {
    border: solid 1px black;
    border-collapse: collapse;
}

.classes th,
.classes td {
    text-align: center;
    padding: 3px;
    border: solid 1px black;
}

.gray-bg {
    background-color: rgba(211, 211, 211, 0.479);
}

.sans-font {
    font-family: "Comic Sans MS", Comic Sans, cursive;
}


.form {
    margin-top: 10px;
}

.form input[type="text"] {
    padding: 3px;
    margin-bottom: 3px;
    width: 200px;
}

.form input[type="submit"] {
    padding: 5px 10px;
    background-color: #adadad;
    color: black;
    border: none;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.575);
    }

.form input[type="submit"]:hover {
    background-color: #707070;
}