* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.head {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 14px;
    border-bottom: solid 3px rgba(70, 183, 228, 0.363);
    width: 95%;
    margin: 0 auto;
}

.menu {
    display: flex;
    margin: 0 auto;
}

.menu button {
    background-color: white;
    border: 0;
    color: gray;
    padding: 8px;
}

.menu button:hover {
    background-color: rgba(0, 0, 0, 0.089);
    border-radius: 10px;
    cursor: pointer;
}


.head img {
    width: 50px;
}

.head img:hover {
    cursor: pointer;
}

.login-logo {
    color: white;
    background-color: rgba(20, 175, 110, 0.904);
    border: solid 1px rgba(128, 128, 128, 0.493);
    padding: 6px 20px;
    border-radius: 20px;
}

.login-logo:hover {
    box-shadow: 0 2px 5px rgba(99, 99, 99, 0.486);
    cursor: pointer;
}

.main {
    display: flex;
    width: 95%;
    margin: auto;
}

.left-col {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 30%;
    gap: 20px;
}
.recent-posts {
    background-color: rgba(128, 128, 128, 0.075);
    padding: 30px 15px;
    border-top: solid 3px purple;
}

.recent-posts h4{
    display: flex;
    padding-bottom: 10px;
}

.recent-posts button{
    display: flex;
    padding-top: 10px;
    background-color: rgba(0, 0, 0, 0);
    border: 0;
}

.recent-posts button:hover{
    cursor: pointer;
    text-decoration: underline;
}

.right-col {
    display: flex;
    flex-direction: column;
}

.text h1 {
    color: rgb(70, 183, 228);;
}

.text {
    display: flex;
    margin: 0 auto;
    width: 680px;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.view {
    display: flex;
    margin: 0 auto;
    width: 85%;
    background-color: white;
    gap: 60px;
    padding: 15px;
    margin-top: auto;
    border: 1px solid rgba(128, 128, 128, 0.24);
}

.view button {
    color: rgb(70, 183, 228);
    background-color: white;
    border: solid 1px  rgb(70, 183, 228);
    padding: 5px;
}

.view button:hover {
    cursor: pointer;
    box-shadow: 1px 1px 5px rgba(17, 40, 49, 0.192);
    background-color: rgba(245, 245, 245, 0.425);
}
.view .col p {
    margin-bottom: 15px;
}

.xl {
    font-size: x-large;
}

.bottom {
    display: flex;
    gap: 20px;
    width: 95%;
    margin: 20px auto;
}

.pictures {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    gap: 20px;
}


.pictures img {
  width: 260px;    
}

.pictures img:hover {
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.205);
}

.related-posts{
    display: flex;
    flex-direction: column;
    width: 30%;
}

.related-posts h1 {
    border-bottom: 1px solid rgba(128, 128, 128, 0.24);
    width: 70%;
    margin-top: 7px;
    margin-bottom: 10px;
}

.related-posts li {
    margin-left: 20px;
    margin-bottom: 3px;
}

.related-posts li:hover {
    cursor: pointer;
    text-decoration: underline;
}

.footer {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
background-color: rgba(128, 128, 128, 0.651);
width: 95%;
margin: 20px auto;
padding: 25px;
gap: 15px;
}

.footer h2 {
    color: white;
}

.footer p {
    color: rgb(44, 44, 44);
}