@font-face {
    font-family: IRANSans;
    src: local(IRANSans);
}

@font-face {
    font-family: Vazir;
    src: local(Vazir FD-WOL);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: IRANSans;
    font-size: 10px;
}

body {
    background-color: rgba(164, 206, 255, 0.356);
}

.header {
    display: flex;
    justify-content: center;
    border-bottom: solid 1px rgba(128, 128, 128, 0.466);
    padding: 10px;
    box-shadow: 2px 2px 10px rgba(194, 194, 194, 0.37);
    width: 100%;
}

.header h1 {
    font-size: 20px;
}

.main {
    display: flex;
}

.left-col,
.right-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    gap: 20px;
    width: 50%;
    height: 80vh;
}

.item {
    display: flex;
    direction: rtl;
    box-shadow: 0 1px 2px rgba(196, 196, 196, 0.747);
    width: 90%;
    height: 100px;
    background-color: white;
}

.details-sec {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 20px;
}

.quantity,
.price,
.amount,
.total-amount {
    font-family: Vazir;
}

.total-amount {
    font-size: 20px;
}

.item img {
    width: 120px;
    height: 100px;
}

.quantity-sec {
    display: flex;
    margin-top: 10px;
}

.add,
.sub {
    color: white;
    background-color: rgba(170, 1, 1, 0.89);
    box-shadow: 0 2px 2px rgba(175, 175, 175, 0.445);
    padding: 0 8px;
    border: 0;
}

.add:hover,
.sub:hover {
    cursor: pointer;
    box-shadow: 0 2px 7px rgba(175, 175, 175, 0.979);
}

.add {
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

.sub {
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.quantity {
    background-color: rgba(204, 204, 204, 0.322);
    box-shadow: 0 2px 2px rgba(175, 175, 175, 0.445);
    padding: 0 8px;
}

.total-sec {
    display: flex;
    flex-direction: column;
    margin: 10px;
    margin-top: auto;
    margin-right: auto;
}

.total-amount-sec {
    display: flex;
    align-items: center;
    direction: rtl;
    border-top: solid 1px rgba(128, 128, 128, 0.466);
    padding: 10px;
    box-shadow: 2px 2px 10px rgba(194, 194, 194, 0.37);
    padding: 20px 50px;
    background-color: white;
}

.pay {
    margin-right: auto;
    color: white;
    font-size: 15px;
    background-color: rgba(170, 1, 1, 0.89);
    box-shadow: 0 2px 2px rgba(175, 175, 175, 0.445);
    padding: 10px;
    border: 0;
    border-radius: 5px;
}

.pay:hover {
    cursor: pointer;
    box-shadow: 0 2px 7px rgba(175, 175, 175, 0.979);
}

.show-total {
    border: solid 1px rgba(0, 0, 0, 0.507);
    font-size: 20px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.295);
    margin-right: 30px;
    border-radius: 5px;
    padding: 8px 10px;
}

.total-amount-sec h1 {
    font-size: 20px;
}