* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 890px;
    margin: 30px auto;
    justify-content: center;
    align-items: center;
    background-color: #C4EBFA
}

.footer,
.header {
    display: flex;
    justify-content: center;
    padding: 15px;
    width: 100%;
    color: white;
    background-color: #03BFB1
}

.main {
    display: flex;
    gap: 30px;
    margin: 30px 0;
    width: 100%;
}

.aside {
    display: flex;
    width: 30%;
    height: 46vh;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #6FDD6D
}

.article {
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 70%;
    height: 46vh;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #FBAF4D;
}

.article-content {
    display: flex;
    height: 0;
}

.article-images {
    display: flex;
    justify-content: center;
    height: 0;
    gap: 20px;
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 174px;
    height: 174px;
    background-color: #FCD24A;
    padding: 4px;
}