@font-face {
    font-family: "BNazanin";
    src: local("BNazanin");
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "BNazanin", arial;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.page {
    height: 350px;
    width: 650px;
    border: solid 1px black;
    border-radius: 50px;
}

.emoji {
    display: flex;
    justify-content: center;
    padding: 30px;
    font-size: xx-large;
}

.text {
    text-align: center;
    text-decoration: underline;
}

.choices {
    padding: 80px;
    display: flex;
    justify-content: center;
    gap: 100px;
}

.sad,
.happy {
    color: white;
    background-color: green;
    padding: 10px 40px;
    border-radius: 10px;
    border: solid 1px rgba(133, 133, 133, 0.397);
}

.sad {
    background-color: red;
}

.sad:hover,
.happy:hover {
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.678);
    transition: 0.2s;
    cursor: pointer;
}